*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background:#9CBDD5;
    padding: 0.75em;
    text-align:center;
    color: #101B53;
    border: 0.1em solid black;
}
.MainNav{
    position: sticky;
    top: 0;
    line-height: 50px;
}
.MainNav ul{
    list-style-type: none;
    display:flex;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    background-color:#B9DAF2 ;
}
.MainNav li{
    flex-grow:1;
    width: 15%;
    border: 0.1em rgb(17, 17, 17) solid;
    text-align: center;
}
.MainNav a{
    text-decoration: none;
    color: black;
    display: block;
}

.MainNav a:hover {
    background:#EFFAFC;
}

#mainImg{
    width: 100%;
    height:350px;
}
#container{
    width: 90%;
    margin: auto;
    padding:1em;
    background:rgba(255, 255, 255, 0.568);
}

h2{
    text-align: center;
    background: #55CCE4;
    box-shadow:5px 5px cornflowerblue;
    font-family: monospace;
}
#bodyImg{
    background: url(../images/sea3.webp);
}
img{
    width: fit-content;
    height: 250px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.sect:hover{
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
}

#box1{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.bcss{
    padding: 1em;
    margin: 0em;
    color: black;
    font-size: medium;
    background:#9CBDD5; 
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 95%;
}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    color: #101B53;
    font-size: 15px;
}
footer a{
    text-decoration: none;
}

.footS{
    width: 95%;
    margin: 0em;
    padding: 1em;
    background:#BBE6E4;
    text-align: initial;
    }

.list{
    background-color:rgb(116, 123, 224); 
}
.list :hover{
    background-color:rgba(149, 143, 238, 0.555);
}
.pg{
    background-color: rgb(130, 195, 238);
}
.head{
    text-decoration:none;
}



     